[package]
name = "rust_lib"
version = "0.0.0"
authors = ["Kirill Kuzminykh <cykooz@gmail.com>"]
edition = "2018"


[lib]
name = "rust_lib"
crate-type = ["cdylib"]


[package.metadata.maturin]
name = "cykooz.resizer.rust_lib"


[dependencies]
fast_image_resize = "0.4.0"
pyo3 = "0.14.5"


[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]


[profile.release]
lto = true
opt-level = 3
codegen-units = 1
