[package]
name = "rust_lib"
version = "0.0.0"
authors = ["Kirill Kuzminykh <cykooz@gmail.com>"]
edition = "2021"


[lib]
name = "rust_lib"
crate-type = ["cdylib"]


[dependencies]
fast_image_resize = "3.0.4"
pyo3 = "0.21.2"


[profile.release]
lto = true
opt-level = 3
codegen-units = 1
